* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

/* ================================= Header (100vh) ================================= */

body {
    background-color: #EEF1F3;
}

.searchbtn {
    border: #0089CD solid 1px;
}

#image {
    background-image: url("bluebg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.signin, .signup {
    width: 123px;
    height: 48px;
    border-radius: 50px;
}

.signin {
    color: #0091D9;
    border: #0091D9 2px solid;
}

.signup {
    background-color: #0091D9;
}

.h1 {
    color: #0089CD;
}

.filtersearch {
    color: #0089CD;
}
#search {
    border-radius: 50px 0px 0px 50px;
}

/* ================================= Scroll down arrow ================================= */

.down-arrow {
    position: absolute;
    top: calc(100vh - 60px);
    left: calc(50% - 14px);
    width: 0;
    height: 30px;
    border: 2px solid;
    border-radius: 2px;
    animation: jumpInfinite 1.5s infinite;
    color: #0089CD;
}

.down-arrow:after {
    content: " ";
    position: absolute;
    top: 12px;
    left: -10px;
    width: 17.5px;
    height: 16px;
    border-bottom: 4px solid;
    border-right: 4px solid;
    border-radius: 4px;
    transform: rotateZ(45deg);
}

@keyframes jumpInfinite {
    0% {
        margin-top: 0;
    }

    50% {
        margin-top: 20px;
    }

    100% {
        margin-top: 0;
    }
}

/* ================================= Cards ================================= */

.sortingSelect {
    background-color: #0091D9;
    color: white;
    width: 15%;
    margin: 20px 0px 0px 148px;
}

.sortingSelect:hover {
    border: #0089CD solid 1px;
}

.detailsButton {
    background-color: #0091D9;
    color: white;
    width: 100%;
}

.detailsButton:hover {
    border: #0089CD 1px solid;
}

/* ================================= Footer ================================= */

.footertext {
    font-weight: 600;
}

.icons {
    color: #0089CD;
    font-size: 24px;
    margin-right: 10px;
}